#area {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

.number {
    background-color: lawngreen;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.number:hover {
    background-color: rgb(59, 117, 0);
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

p {
    padding-top: 40px;
    text-align: center;
}

#res {
    padding: 10px;
    margin: 40px auto;
    height: 100px;
    width: 300px;
    border: 1px solid black;
}

#selist {
    width: 300px;
}

