@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 18px Arial;
    background-image: linear-gradient(to right, #d6d2d2, #5e6df596);   
}

#header {
    color: white;
    background-color: rgb(207, 28, 28);
    text-align: center;
    padding: 15px;
} 

#content {
    margin: auto;
    text-align: center;
    padding: 10px;
    height: 97vh;
}

div#crew-name {
    margin: 10px;
}

#image {
    border-radius: 50%;
    box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.377);
}

#footer {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(207, 28, 28);
    color: white;
}

