@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#characters {
    width: 600px;
    height: 80vh;
    margin: auto;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.character {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}