* {
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #f1feff;
    height: 100vh;
}

.container h1 {
    color: #ce2924;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #333;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #99531a;
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: #464646;
}

#miliseconds {
    font-size: 30px;
    color: #635c52;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #ff8d8d;
    color: #ffffff;
}

#startBtn {
    background-color: #792727;
    color: white;
}

#pauseBtn,
#resumeBtn {
    display: none;
}